exec_detail.json
{"id":"43","finished":false,"mode":"manual","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-03-28T09:58:09.412Z","startedAt":"2026-03-28T09:58:09.420Z","stoppedAt":"2026-03-28T09:58:09.424Z","deletedAt":null,"workflowId":"bWsGZ5zNA1XqIWeQ","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"timestamp":1774691889423,"context":{},"functionality":"regular","name":"WorkflowHasIssuesError","message":"The workflow has issues and cannot be executed for that reason. Please fix them first.","stack":"WorkflowHasIssuesError: The workflow has issues and cannot be executed for that reason. Please fix them first.\n    at WorkflowExecute.checkForWorkflowIssues (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1323:10)\n    at WorkflowExecute.processRunExecutionData (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:1402:8)\n    at WorkflowExecute.run (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n-core\\src\\execution-engine\\workflow-execute.ts:182:15)\n    at ManualExecutionService.runManually (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\manual-execution.service.ts:165:27)\n    at WorkflowRunner.runMainProcess (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\workflow-runner.ts:310:53)\n    at WorkflowRunner.run (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\workflow-runner.ts:187:4)\n    at WorkflowExecutionService.executeManually (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\workflows\\workflow-execution.service.ts:245:24)\n    at WorkflowsController.runManually (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\workflows\\workflows.controller.ts:651:18)\n    at handler (C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\controller.registry.ts:110:12)\n    at C:\\Users\\offic\\AppData\\Local\\npm-cache\\_npx\\a8a7eec953f1f314\\node_modules\\n8n\\src\\response-helper.ts:161:17"},"runData":{}},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{}}},"workflowData":{"id":"bWsGZ5zNA1XqIWeQ","name":"TMP - Append Pending Rows","active":false,"activeVersionId":null,"nodes":[{"parameters":{"notice":""},"id":"trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,0]},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [\n  {json:{row_id:'DLH-0006',pin_title:'High Fiber Meals for Gut Health and Better Digestion',pin_description:'Simple high-fiber dinner ideas to support gut health. Easy weeknight meals packed with fiber to keep you feeling full and satisfied. #HighFiber #GutHealth #HealthyDinner',alt_text:'High fiber meals for gut health - colorful dinner bowl with legumes and vegetables',image_url:'https://www.daily-life-hacks.com/images/high-fiber-meals-for-gut-health-main.jpg',board_id:'1124140825679184036',link:'https://www.daily-life-hacks.com/high-fiber-meals-for-gut-health',status:'PENDING',pin_id:'',published_date:'',pinterest_response:''}},\n  {json:{row_id:'DLH-0007',pin_title:'High Protein High Fiber Meals for Weight Loss',pin_description:'Filling high-protein, high-fiber meals that help with weight management. Real food, realistic portions, and no complicated rules. #HighProtein #HighFiber #WeightLoss',alt_text:'High protein high fiber meal prep bowls with chicken and vegetables',image_url:'https://www.daily-life-hacks.com/images/high-protein-high-fiber-meals-for-weight-loss-main.jpg',board_id:'1124140825679184036',link:'https://www.daily-life-hacks.com/high-protein-high-fiber-meals-for-weight-loss',status:'PENDING',pin_id:'',published_date:'',pinterest_response:''}},\n  {json:{row_id:'DLH-0008',pin_title:'Vegetarian High Fiber Dinners for Better Digestion',pin_description:'Satisfying vegetarian dinners loaded with fiber. These plant-based meals are practical, filling, and great for your gut. #VegetarianDinner #HighFiber #PlantBased',alt_text:'Vegetarian high fiber dinner with lentils and roasted vegetables',image_url:'https://www.daily-life-hacks.com/images/vegetarian-high-fiber-dinners-for-better-digestion-main.jpg',board_id:'1124140825679184036',link:'https://www.daily-life-hacks.com/vegetarian-high-fiber-dinners-for-better-digestion',status:'PENDING',pin_id:'',published_date:'',pinterest_response:''}},\n  {json:{row_id:'DLH-0009',pin_title:'Quick 20 Minute High Fiber Meals for Busy Days',pin_description:'Fast weeknight dinners that are actually high in fiber. Ready in 20 minutes with ingredients you probably already have. #QuickDinner #HighFiber #EasyMeals',alt_text:'Quick 20-minute high fiber dinner with pasta and vegetables on a kitchen counter',image_url:'https://www.daily-life-hacks.com/images/quick-20-minute-high-fiber-meals-for-busy-days-main.jpg',board_id:'1124140825679184036',link:'https://www.daily-life-hacks.com/quick-20-minute-high-fiber-meals-for-busy-days',status:'PENDING',pin_id:'',published_date:'',pinterest_response:''}},\n  {json:{row_id:'DLH-0010',pin_title:'Best Tabbouleh Salad High Fiber Bulgur Recipe',pin_description:'Fresh parsley, bulgur, cucumber, and lemon make this tabbouleh bright and satisfying. Easy to prep ahead for lunches. #Tabbouleh #HighFiber #MediterraneanFood',alt_text:'Tabbouleh salad with bulgur, fresh parsley, tomatoes and lemon on a wooden table',image_url:'https://www.daily-life-hacks.com/images/best-tabbouleh-salad-high-fiber-bulgur-main.jpg',board_id:'1124140825679184036',link:'https://www.daily-life-hacks.com/best-tabbouleh-salad-high-fiber-bulgur',status:'PENDING',pin_id:'',published_date:'',pinterest_response:''}}\n];","notice":""},"id":"set_rows","name":"Set New Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,0]},{"parameters":{"authentication":"oAuth2","resource":"sheet","operation":"append","documentId":{"__rl":true,"value":"1Kh9SbhqHTXrG5Ub38lAAyPEgH-fqHcfOb7o8qEOUqwA","mode":"id"},"sheetName":{"__rl":true,"value":"gid=1376264142","mode":"url"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"append_sheet","name":"Append to Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-304,0],"credentials":{"googleSheetsOAuth2Api":{"id":"BmdCrIABP69z7Szl","name":"Google Sheets account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Set New Rows","type":"main","index":0}]]},"Set New Rows":{"main":[[{"node":"Append to Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"pinData":{}},"customData":{}}